{% if page.year != null %} {% assign year = page.year %} {% else %} {% assign
year = site.data.cv4dc.current-year %} {% endif %}

<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>

<section>
  <h3><i class="far fa-newspaper"></i> &nbsp; Latest News</h3>
  <ul>
    <li>📢 Submissions are open on OpenReview</li>
    <li>📢 AIJ is sponsoring CV4DC 2026</li>
    <li>📢 CV4DC returns to ACCV, in Osaka</li>
  </ul>
  <br>
    <!-- {% for post in site.posts limit:5 %} {% if post.year == page.year %}
    <a
      class="twitter-timeline"
      data-width="500"
      data-height="500"
      href="https://twitter.com/CV4DC"
      >Tweets by CV4DC</a
    >
    <br />
    {% endif %} {% endfor %} -->
  <!-- </ul> -->
</section>
