{% if page.year != null %}
    {% assign year = page.year %}
{% else %}
    {% assign year = site.data.cv4dc.current-year %}
{% endif %}

<footer class="footer">
	<div class="container">
    <span class="text-muted">&copy; CV4DC {{year}}. The website is modified from the <a href="https://3dvconf.github.io">3DV website</a>.</span>

    <!-- <span class="text-muted"> &nbsp;&nbsp;&nbsp;&nbsp; Twitter: <a href="https://twitter.com/hashtag/cv4dc{{year}}">#cv4dc{{year}}</a> </span> -->
	</div>
</footer>
